.item-list {
  list-style-type: none;
  padding-left: 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 4px 8px 4px;
  outline: 1px solid black;
  margin-bottom: 1px;
}

.item-details-container {
  flex: 1 1 0;
}

.item-delete-button-container {
  flex: 0 0 auto;
  margin-left: 8px;
}
